################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnetcoresample/.vs/aspnetcoresample/FileContentIndex
